.App {
    text-align: center;
    background-color: lightblue;
    width: 600px;
    border-radius: 8px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    width: 600px;
    border-radius: 8px;
    background-color: #222;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.startButton {
    background-color: #39cccc;
}
.startButtonClick{
    background-color: #ed225d;
}

.restButton {
    background-color: gold;
}

.recordButton {
    background-color: deepskyblue;
}

.clearButton {
    background-color: silver;
}

.timerButton {
    border: none;
    width: 100px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
}

.timerButton:hover {
    box-shadow: 0 0 25px #eee;
}

.controlMenu {
    width: 600px;
    background-color: #aaaaaa;
}

.recordItem {
    list-style: none;
    padding: 5px;
    font-size: 20px;
}